@font-face {
   font-family: 'Baloo';
   font-style: regular;
   font-weight: 400;
   src: url('file:///C:/Users/Hidekazu%20Aoshima/git/livlog-lab/src//fonts/Baloo/regular.ttf') format('truetype');
}
