@font-face {
   font-family: 'Didact Gothic';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///C:/Users/h_aos/git/livlog-lab/src//fonts/Didact Gothic/regular.ttf') format('truetype');
}
